{% extends 'base.html.twig' %}

{% block title %}Home Page{{ parent() }}{% endblock %}

{% block body %}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Name</th>
            <th>Price</th>
            <th>Act</th>
        </tr>
        {% for _, product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} UAH</td>
                <td>
                    <buy-product pid="{{ product.id }}">Buy</buy-product>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}